<ion-view class="me" view-title="Me">
  <ion-content>
    <div class="list">
      <div class="item item-avatar item-icon-right">
        <span class="item-image item-avatar-0">路飞</span>
        <h2>路飞</h2>
        <p>浙江海贼王有限公司</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <div class="list">
      <div class="row">
        <div class="item item-avatar col-50">
          <img>
          <h2>第三方绑定</h2>
          <p>5</p>
        </div>
        <div class="item item-avatar col-50">
          <img>
          <h2>信用分</h2>
          <p>85</p>
        </div>
      </div>
      <div class="row">
        <div class="item item-avatar col-50">
          <img>
          <h2>历史报销</h2>
          <p>5</p>
        </div>
        <div class="item item-avatar col-50">
          <img>
          <h2>历史审批</h2>
          <p>85</p>
        </div>
      </div>
    </div>

    <div class="list">
      <a class="item item-icon-left item-icon-right">
        <div class="divider-ionic"></div>
        <i class="icon ion-mic-a positive"></i>
        报表
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right">
        <div class="divider-ionic"></div>
        <i class="icon ion-ios-bell"></i>
        消息
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-android-document positive"></i>
        报销政策
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

    <div class="list">
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-gear calm"></i>
        设置
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <!-- <div class="list">
      <div class="item item-icon-right" ui-sref="tab.me-settings">
        设置
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div> -->
  </ion-content>
</ion-view>