/*==================Me Style================*/
$border: 1px solid #ededed;
.me {

  .list {
    .row:first-child {
      margin-bottom: 5px;
      border-bottom: $border;
    }

    .divider-ionic {
      content: " ";
      display: block;
      position: absolute;
      bottom: 50%;
      left: -46%;
      height: 1px;
      width: 200%;
      -webkit-transform: scale(.5);
      transform: scale(.5);
      background-color: #ededed;
      z-index: 10;
    }
  }

  .row {
    padding: 0;

    &>.col-50 {
      border-right: $border;
    }
  }

  .item {
    .divider-ionic {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: -46%;
      height: 1px;
      width: 200%;
      -webkit-transform: scale(.5);
      transform: scale(.5);
      background-color: #ededed;
      z-index: 10;
    }
  }
}