/*=============Launch Style==============*/
.launch {
  .slider {
    height: 94%;

    img {
      position: fixed;
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    height: 100%;
  }

  .bar-button {
    width: 100%;
    line-height: 34px;
    text-align: center;
  }
}