/*! Global Style */
$scroll-content-background-color: #F5F4F9 !default;

/*! Avatar Style */
$item-image-background-color: #EEEEF0 !default;
$item-avatar-0-color: #13A4E9 !default;
$item-avatar-1-color: #7DCC29 !default;
$item-avatar-2-color: #F5BB43 !default;